*{
    box-sizing: border-box;
    padding: 10px;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-weight: bold;
    padding-top: 0;
    padding-right: 0;
    display: inline-block;
    background-color: rgb(170, 170, 170);
}
.spann1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background-color: rgb(255, 216, 223);
    float: right;
}
.spann2{
    padding: 5px;
    background-color: rgb(223, 113, 113);
    float: right;
    color: white;
}
.spann3{
    padding: 5px;
    background-color: burlywood;
    float: right;
}

@media (max-width:440px) {
    #first{
        width: 100%;
    }
    #second{
        width: 100%;
    }
    #third{
        width: 100%;
    }
}
@media (min-width:441px) {
    #first{
        width:49%;
    }
    #second{
        width: 49%;
    }
    #third{
        width: 100%;
    }
}
@media (min-width:766px) {
    #first{
        width: 33%;
    }
    #second{
        width: 33%;
    }
    #third{
        width: 33%;
    }
}